button{
    margin-top: 10px;
    margin-left: 150px;
}

.form
{  position: relative;
    float: right;
  
    width: 600px;
}
header{
    background-color: #C37E4C;
}
.nav-link{
    color:  white;
    transition: 0.3s;
    }
    .nav-link:hover{
        color:black;
    }
    .dog{
        opacity: 0.65;
    }
   
.image
{
    .navbar-brand
{
    position: relative;
    background: url(../images/logo.png);
    width: 170px;
    left: 15px;
}
    background-size: cover;
}
h1{
    text-align: center;
    color: #C37E4C;
}